%bg {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  background-clip: border-box;
}

.pacaya {
  background-image: image-url('pacaya.jpg');
  background-color: none;
  @extend %bg;
}
